body{
    background-color: rgb(8, 218, 218);
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#cityCountry{
    color:rgb(8, 40, 49);
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
} 
#inputCountry,#inputCity{
    color:rgb(9, 67, 94);
    font-size: 25px;
    border: 1px solid rgb(9, 67, 94);
    border-radius:10px;
} 
#getInfo{
    color:aliceblue;
    background-color: rgb(3, 43, 43);
    font-size: 25px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid aliceblue;
    border-style:dotted;
}
#weatherReport{
    /* color:rgb(1, 51, 51); */
    font-size : 30px;
    font-style:italic;
}
#displayTime{
    /* color:rgb(0, 88, 104); */
    font-size: 30px;
    font-weight: bold;
}
#displayWeather{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 500px;
    color:rgb(6, 26, 26);
    background-color: rgb(115, 226, 180);
    padding: 40px;
    width:80%;
}
#displayMainInfo{
    font-size: 20px;
    
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding-left:20px;
    flex-flow: nowrap;
}